@keyframes track1 {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes track2 {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes picture {
    from {
        max-height: 24rem;
    }
    to {
        max-height: 36rem;
    }
}